@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  padding-block: 20px;
  padding-inline: 20px;
}
